<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Abot" version="1.6.0.8" targetFramework="net472" />
  <package id="AngleSharp" version="0.9.9.1" targetFramework="net472" />
  <package id="Costura.Fody" version="3.1.4" targetFramework="net472" />
  <package id="Fody" version="3.2.7" targetFramework="net472" developmentDependency="true" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net472" />
  <package id="NRobotsPatched" version="1.0.8.0" targetFramework="net472" />
  <package id="Obfuscar" version="2.2.13" targetFramework="net472" developmentDependency="true" />
</packages>